/* ***** commons ***** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

/* ***** header ***** */

header {
    background-color: #2e3a46;
    height: 70px;
    padding: 10px 20px;
    position: sticky;
    top: 0;
    z-index: 9999;
}

header img {
    height: 100%;
}

/* ***** main ***** */

main {
    background-color: #1e2d3b;
    min-height: calc(100vh - 70px);
    padding-top: 150px;
}

main .row {
    justify-content: center;
}

.card {
    background-color: #2e3a46;
    width: 240px;
    margin: 10px;
    padding: 20px;
}

.card img {
    width: 100%;
}

.card h2 {
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 20px;
}

.card span {
    color: #868686;
    text-align: center;
    display: block;
}